* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff0f6;
  font-family: "Protest Riot", sans-serif;
}

.container {
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 30rem;
  height: 30rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.btn {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 6px;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.btn--yes {
  background-color: #40c057;
}

.btn--no {
  background-color: #f03e3e;
}

.hidden {
  display: none;
}


@media (max-width: 480px) {
  .cat-img {
    width: 22rem;
    height: 22rem;
  }

  .title {
    font-size: 2.8rem;
    padding: 0 1rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
  }
}